@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #646970;
    border-radius: 2px;
}